# Analysing datasets using only pandas
we have have two datasets and we have to compare them with only using pandas.
the datasets we have are:
1. House_price_prediction.csv
2. IRIS_flower.csv

In [4]:
import pandas as pd

df1 = pd.read_csv('IRIS_flower.csv')
print(df1)
df2 = pd.read_csv('House_price_prediction.csv')
print(df2)

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]
                     date         price  bedrooms  bathrooms  sqft_living  \
0     2014-05-02 00:00:00  3.130000e+05       3.0       1.50         1340
1     2014-05-02 00:00:00  2.384000e+06       5.0       2.50         3650
2     2014-05-02 00:00:00  3.420000e+05       3.0       2.00         1930
3     2014-05-02 00:00:00  4.200000e+05       3.0       2.25         2000
4     2014-05-02 00:00:00  5.500000e+05       4.0       2.50         1940
...                   ...           ...       ...        ...          ...
4595  2014-07-09 00:00:00  3.081667e+05       3.0       1.75         1510
4596  2014-07-09 00:00:00  5.343333e+05       3.0       2.50         1460
4597  2014-07-09 00:00:00  4.169042e+05       3.0       2.50         3010
4598  2014-07-10 00:00:00  2.034000e+05       4.0       2.00         2090
4599  2014-07-10 00:00:00  2.206000e+05       3.0       2.50         1490

      sqft_lot  floors  waterfront  view  condition  sqft_above  \
0         7912     1.5           0     0          3        1340
1         9050     2.0           0     4          5        3370
2        11947     1.0           0     0          4        1930
3         8030     1.0           0     0          4        1000
4        10500     1.0           0     0          4        1140
...        ...     ...         ...   ...        ...         ...
4595      6360     1.0           0     0          4        1510
4596      7573     2.0           0     0          3        1460
4597      7014     2.0           0     0          3        3010
4598      6630     1.0           0     0          3        1070
4599      8102     2.0           0     0          4        1490

      sqft_basement  yr_built  yr_renovated                    street  \
0                 0      1955          2005      18810 Densmore Ave N
1               280      1921             0           709 W Blaine St
2                 0      1966             0  26206-26214 143rd Ave SE
3              1000      1963             0           857 170th Pl NE
4               800      1976          1992         9105 170th Ave NE
...             ...       ...           ...                       ...
4595              0      1954          1979            501 N 143rd St
4596              0      1983          2009          14855 SE 10th Pl
4597              0      2009             0          759 Ilwaco Pl NE
4598           1020      1974             0         5148 S Creston St
4599              0      1990             0         18717 SE 258th St

           city  statezip country
0     Shoreline  WA 98133     USA
1       Seattle  WA 98119     USA
2          Kent  WA 98042     USA
3      Bellevue  WA 98008     USA
4       Redmond  WA 98052     USA
...         ...       ...     ...
4595    Seattle  WA 98133     USA
4596   Bellevue  WA 98007     USA
4597     Renton  WA 98059     USA
4598    Seattle  WA 98178     USA
4599  Covington  WA 98042     USA

[4600 rows x 18 columns]

Lets's try to first analyses both data usnig `info()`

In [6]:
# Dataset-1 : IRIS_flower
print('Iris_flower_dataset')
print(df1.info())
# Dataset-2 : House_price_prediction
print('House_price_prediction')
print(df2.info())

Iris_flower_dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None
House_price_prediction
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB
None

we can also take help to analyses data with `corr()`.. we can find correlation between numerical columns.

In [11]:
print("Correlation of dataset 1\n")
print(df1.corr(numeric_only = True))
print()
print('Correlation of dataset 2\n')
print(df2.corr(numeric_only = True))

Correlation of dataset 1

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.109369      0.871754     0.817954
sepal_width      -0.109369     1.000000     -0.420516    -0.356544
petal_length      0.871754    -0.420516      1.000000     0.962757
petal_width       0.817954    -0.356544      0.962757     1.000000

Correlation of dataset 2

                  price  bedrooms  bathrooms  sqft_living  sqft_lot    floors  \
price          1.000000  0.200336   0.327110     0.430410  0.050451  0.151461
bedrooms       0.200336  1.000000   0.545920     0.594884  0.068819  0.177895
bathrooms      0.327110  0.545920   1.000000     0.761154  0.107837  0.486428
sqft_living    0.430410  0.594884   0.761154     1.000000  0.210538  0.344850
sqft_lot       0.050451  0.068819   0.107837     0.210538  1.000000  0.003750
floors         0.151461  0.177895   0.486428     0.344850  0.003750  1.000000
waterfront     0.135648 -0.003483   0.076232     0.117616  0.017241  0.022024
view           0.228504  0.111028   0.211960     0.311009  0.073907  0.031211
condition      0.034915  0.025080  -0.119994    -0.062826  0.000558 -0.275013
sqft_above     0.367570  0.484705   0.689918     0.876443  0.216455  0.522814
sqft_basement  0.210427  0.334165   0.298020     0.447206  0.034842 -0.255510
yr_built       0.021857  0.142461   0.463498     0.287775  0.050706  0.467481
yr_renovated  -0.028774 -0.061082  -0.215886    -0.122817 -0.022730 -0.233996

               waterfront      view  condition  sqft_above  sqft_basement  \
price            0.135648  0.228504   0.034915    0.367570       0.210427
bedrooms        -0.003483  0.111028   0.025080    0.484705       0.334165
bathrooms        0.076232  0.211960  -0.119994    0.689918       0.298020
sqft_living      0.117616  0.311009  -0.062826    0.876443       0.447206
sqft_lot         0.017241  0.073907   0.000558    0.216455       0.034842
floors           0.022024  0.031211  -0.275013    0.522814      -0.255510
waterfront       1.000000  0.360935   0.000352    0.078911       0.097501
view             0.360935  1.000000   0.063077    0.174327       0.321602
condition        0.000352  0.063077   1.000000   -0.178196       0.200632
sqft_above       0.078911  0.174327  -0.178196    1.000000      -0.038723
sqft_basement    0.097501  0.321602   0.200632   -0.038723       1.000000
yr_built        -0.023563 -0.064465  -0.399698    0.408535      -0.161675
yr_renovated     0.008625  0.022967  -0.186818   -0.160426       0.043125

               yr_built  yr_renovated
price          0.021857     -0.028774
bedrooms       0.142461     -0.061082
bathrooms      0.463498     -0.215886
sqft_living    0.287775     -0.122817
sqft_lot       0.050706     -0.022730
floors         0.467481     -0.233996
waterfront    -0.023563      0.008625
view          -0.064465      0.022967
condition     -0.399698     -0.186818
sqft_above     0.408535     -0.160426
sqft_basement -0.161675      0.043125
yr_built       1.000000     -0.321342
yr_renovated  -0.321342      1.000000

In [12]:
pd.DataFrame({
    "House": [df1.select_dtypes('number').shape[1], df1.select_dtypes('object').shape[1]],
    "Iris": [df2.select_dtypes('number').shape[1], df2.select_dtypes('object').shape[1]]
}, index=["Numerical", "Categorical"])

             House  Iris
Numerical        4    13
Categorical      1     5

In [ ]:
pd.concat()